.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: rgba(99, 99, 191, 0.07);
}

.App-content {
  width: 100%;
  max-width: 900px;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 10px;
}

.MessageLog {
  max-width: 60%;
  min-width: 30%;
  list-style: none;
  padding-left: 0;
  flex-grow: 1;
  overflow: auto;
}

.Messages-message {
  display: flex;
  margin-top: 10px;
}

.Messages-message.currentMember {
  flex-direction: row-reverse;
  text-align: right;
}

.avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.Messages-message > .avatar {
  margin: 0 10px -10px;
}

.username {
  color: gray;
  font-size: 14px;
}
.Message-content > .username {
  padding-bottom: 4px;
}

.Message-content > .text {
  padding: 10px;
  max-width: 400px;
  margin: 0;
  border-radius: 12px;
  background-color: #6363bf;
  color: white;
  display: inline-block;
  overflow-wrap: break-word;
}

.Member > .avatar {
  margin-right: 5px;
  height: 24px;
  width: 24px;
}

.currentMember > .Message-content .text {
  border-top-right-radius: 0;
  color: white;
}

.Input {
  max-width: 60%;
  min-width: 30%;
}

h1 {
  color: #494986;
}

form {
  display: flex;
  width: 100%;
  /* background: white; */
  /* box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1); */
  border-radius: 10px;
  margin-bottom: 30px;
}

input {
  font-size: 16px;
  border: 0;
  outline: none;
  flex-grow: 1;
  padding: 20px;
  border-radius: 10px;
}

button {
  padding: 12px 14px;
  font-size: 16px;
  font-weight: 600;
  background-color: #494986;
  color: white;
  border: none;
  border-radius: 10px;
  margin: 14px;
  cursor: pointer;
}
